Landing Page (4):
•    As a user I want to view top 5 rented films of all times
•    As a user I want to be able to click on any of the top 5 films and view its details
•    As a user I want to be able to view top 5 actors that are part of films I have in the store
•    As a user I want to be able to view the actor’s details and view their top 5 rented films